
/** --------------------

Template Name: Candar
Autor: layerz
Autor URI: https://themeforest.net/user/layerz


[TABLE OF CONTENTS]

01. GRID
02. COMMONS
03. BUTTONS
04. FORMS
05. HEADER
06. NAV
07. PORTFOLIO
08. BLOG
09. SOCIAL

-------------------- **/


// VARIABLES
// --------------------

	@white_color: #ffffff;
	@dark_color: #000000;
	@primary_color: #bb9d56;

	@font1: 'Unna';
	@font2: 'Source Sans Pro';

	@header_height: 100px;
	@mobile_header_height: 100px;


// IMPORTS
// --------------------

	@import '_mixins.less';


/** 01. GRID
-------------------------------------------------- **/
	@import '_grid.less';

/** 02. COMMONS
-------------------------------------------------- **/
	@import '_commons.less';

/** 03. BUTTONS
-------------------------------------------------- **/
	@import '_buttons.less';

/** 04. FORMS
-------------------------------------------------- **/
	@import '_forms.less';

/** 05. HEADER
-------------------------------------------------- **/
	@import '_header.less';

/** 06. NAV
-------------------------------------------------- **/
	@import '_nav.less';

/** 07. PORTFOLIO
-------------------------------------------------- **/
	@import '_portfolio.less';

/** 08. BLOG
-------------------------------------------------- **/
	@import '_blog.less';

/** 09. SOCIAL
-------------------------------------------------- **/
	@import '_social.less';
