/** --------------------

Template Name: Candar
Autor: layerz
Autor URI: https://themeforest.net/user/layerz


[TABLE OF CONTENTS]

01. GRID
02. COMMONS
03. BUTTONS
04. FORMS
05. HEADER
06. NAV
07. PORTFOLIO
08. BLOG
09. SOCIAL

-------------------- **/
.material-icons i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variant-caps: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variant-caps: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/** 01. GRID
-------------------------------------------------- **/
.container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	/* [disabled]font-family: Open Sans; */
	font-variant-caps: all-small-caps;
}
#header-logo a img {
}

.nav-tabs .nav-item a {
    border: 0px;
        border-radius: 0rem;

}
.nav-tabs {
    border-bottom: 0px;
    border-radius: 0rem;
}
.nav-item {
	color: #333333;
	cursor: default;
	margin-right: 50px;
	margin-right: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-weight: 200;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	/* [disabled]border-left-width: 0; */
	/* [disabled]border-right-width: 0; */
	/* [disabled]border-bottom-width: 0; */
	/* [disabled]border-top-width: 0; */
	vertical-align: baseline;
	list-style: none;
	line-height: 1.5;
	text-align: left;
}
.nav-item .nav-last {
	margin-right: 0px;
	padding-right: 0px;
	text-align: right;
}

@media (max-width:800px) {
  .container {
    padding: 0 50px;
  }

}

@media (max-width:600px) {
  .container {
    padding: 0 25px;
  }

}

.column {
  float: left;
  position: relative;
  padding: 0 25px;
}

.column.col-1 {
  width: 8.333%;
}

.column.col-2 {
  width: 16.666%;
}

.column.col-3 {
  width: 24.999%;
}

.column.col-4 {
  width: 33.332%;
}

.column.col-5 {
  width: 41.665%;
}

.column.col-6 {
  width: 49.998%;
}

.column.col-7 {
  width: 58.331%;
}

.column.col-8 {
  width: 66.664%;
}

.column.col-9 {
  width: 74.997%;
}

.column.col-10 {
  width: 83.33%;
}

.column.col-11 {
  width: 91.663%;
}

.column.col-12 {
  width: 100%;
}

.column.offset-1 {
  margin-left: 8.333%;
}

.column.offset-2 {
  margin-left: 16.666%;
}

.column.offset-3 {
  margin-left: 24.999%;
}

.column.offset-4 {
  margin-left: 33.332%;
}

.column.offset-5 {
  margin-left: 41.665%;
}

.column.offset-6 {
  margin-left: 49.998%;
}

.column.offset-7 {
  margin-left: 58.331%;
}

.column.offset-8 {
  margin-left: 66.664%;
}

.column.offset-9 {
  margin-left: 74.997%;
}

.column.offset-10 {
  margin-left: 83.33%;
}

.column.offset-11 {
  margin-left: 91.663%;
}

@media (max-width:800px) {
  .column {
    float: none;
    width: 100% !important;
    padding: 0 !important;
    margin-left: 0 !important;
  }

  .column:not(:last-child) {
    margin-bottom: 50px;
  }

}

.row {
  display: block;
  position: relative;
  margin: 0 -25px;
}

.row:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width:800px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

.container::after,
.row::after,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/** 02. COMMONS
-------------------------------------------------- **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
	font-size: 58px;
	color: #636363;
	line-height: 1.8;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #ffffff;
    font-weight: 500;
}

@media (max-width:800px) {
  body {

  }

}

::selection {
  color: #ffffff;
  background: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-style: normal;
	color: #636363;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
	margin-bottom: 25px;
	color: inherit;
}

h1 {
  font-size: 50px;
  line-height: 60px;
}

h2 {
	font-size: 42px;
	line-height: 52px;
	font-weight: 600;
}

h3 {
  font-size: 36px;
  line-height: 46px;
}

h4 {
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  line-height: 34px;
}

@media (max-width:600px) {
  h1 {
    font-size: 42px;
    line-height: 52px;
  }

  h2 {
    font-size: 36px;
    line-height: 46px;
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
  }

  h4 {
    font-size: 24px;
    line-height: 34px;
  }

  h5 {
    font-size: 20px;
    line-height: 30px;
  }

}

h6 {
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
}

p:not(:last-child) {
  margin-bottom: 25px;
}

p.lead {
  font-size: 20px;
  color: #000000;
}

@media (max-width:800px) {
  p {
    font-size: inherit;
  }

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a.link {
  color: #bb9d56;
}

a.link:hover {
  color: #000000;
}

a.underline {
  border-bottom: 1px solid #bb9d56;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

blockquote {
  font-size: 20px;
  color: #b3b3b3;
  padding: 25px;
  border-left: 5px solid #bb9d56;
}

blockquote:not(:last-child) {
  margin-bottom: 25px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-color {
  color: #bb9d56;
}

.text-mute {
  color: #b3b3b3;
}

.bg-grey {
  background: #f5f5f5;
}

.bg-color {
  background: #bb9d56;
}

.light-content {
  color: #ffffff;
}

.light-content h1,
.light-content h2,
.light-content h3,
.light-content h4,
.light-content h5,
.light-content h6,
.light-content a {
  color: #ffffff;
}

.light-content .text-color {
  color: #bb9d56;
}

.section {
  padding: 20px 0;
}

.section.pt-0 {
  padding-top: 0;
}
.section.pt-50 {
  padding-top: 50px;
}

.section.pt-30 {
  padding-top: 30px;
}
.section.pt-100 {
  padding-top: 100px;
}
.section.pt-75 {
  padding-top: 75px;
}

.section.pt-150 {
  padding-top: 150px;
}

.section.pt-200 {
  padding-top: 200px;
}

.section.pb-0 {
  padding-bottom: 0;
}

.section.pb-20 {
  padding-bottom: 20px;
}

.section.pb-100 {
  padding-bottom: 100px;
}

.section.pb-150 {
  padding-bottom: 150px;
}

.section.pb-200 {
  padding-bottom: 200px;
}

@media (max-width:600px) {
  .section {
    padding: 75px 0;
  }

  .section.pt-100 {
    padding-top: 50px;
  }

  .section.pt-150 {
    padding-top: 100px;
  }

  .section.pt-200 {
    padding-top: 150px;
  }

  .section.pb-100 {
    padding-bottom: 50px;
  }

  .section.pb-150 {
    padding-bottom: 100px;
  }

  .section.pb-200 {
    padding-bottom: 150px;
  }

}

div[class*="gap-"] {
  display: block;
}

.gap-25 {
  height: 25px;
}

.gap-50 {
  height: 50px;
}

.gap-100 {
  height: 100px;
}

.gap-150 {
  height: 150px;
}

@media (max-width:600px) {
  .gap-50 {
    height: 25px;
  }

  .gap-100 {
    height: 75px;
  }

  .gap-150 {
    height: 100px;
  }

}

.overlay {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.overlay .overlay-content {
  width: 100%;
  display: table-cell;
  position: relative;
  padding: 5vw;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.overlay[data-pos="top"] .overlay-content {
  vertical-align: top;
}

.overlay[data-pos="center"] .overlay-content {
  vertical-align: middle;
}

.overlay[data-pos="bottom"] .overlay-content {
  vertical-align: bottom;
}

.overlay.hidden .overlay-content {
  opacity: 0;
}

.overlay.hidden::before {
  opacity: 0;
  visibility: hidden;
}

.overlay.hidden[data-pos="top"] .overlay-content {
  top: -25px;
}

.overlay.hidden[data-pos="center"] .overlay-content,
.overlay.hidden[data-pos="bottom"] .overlay-content {
  bottom: -25px;
}

.overlay.hidden:hover .overlay-content {
  opacity: 1;
}

.overlay.hidden:hover::before {
  opacity: 1;
  visibility: visible;
}

.overlay.hidden:hover[data-pos="top"] .overlay-content {
  top: 0;
}

.overlay.hidden:hover[data-pos="center"] .overlay-content,
.overlay.hidden:hover[data-pos="bottom"] .overlay-content {
  bottom: 0;
}

.overlay * {
  z-index: 2;
}

.overlay[data-overlay="10"]::before {
  background: #000000;
}

.overlay[data-overlay="9"]::before {
  background: rgba(0, 0, 0, 0.9);
}

.overlay[data-overlay="8"]::before {
  background: rgba(0, 0, 0, 0.8);
}

.overlay[data-overlay="7"]::before {
  background: rgba(0, 0, 0, 0.7);
}

.overlay[data-overlay="6"]::before {
  background: rgba(0, 0, 0, 0.6);
}

.overlay[data-overlay="5"]::before {
  background: rgba(0, 0, 0, 0.5);
}

.overlay[data-overlay="4"]::before {
  background: rgba(0, 0, 0, 0.4);
}

.overlay[data-overlay="3"]::before {
  background: rgba(0, 0, 0, 0.3);
}

.overlay[data-overlay="2"]::before {
  background: rgba(0, 0, 0, 0.2);
}

.overlay[data-overlay="1"]::before {
  background: rgba(0, 0, 0, 0.1);
}

.overlay[data-overlay="10"].overlay-light::before {
  background: #ffffff;
}

.overlay[data-overlay="9"].overlay-light::before {
  background: rgba(255, 255, 255, 0.9);
}

.overlay[data-overlay="8"].overlay-light::before {
  background: rgba(255, 255, 255, 0.8);
}

.overlay[data-overlay="7"].overlay-light::before {
  background: rgba(255, 255, 255, 0.7);
}

.overlay[data-overlay="6"].overlay-light::before {
  background: rgba(255, 255, 255, 0.6);
}

.overlay[data-overlay="5"].overlay-light::before {
  background: rgba(255, 255, 255, 0.5);
}

.overlay[data-overlay="4"].overlay-light::before {
  background: rgba(255, 255, 255, 0.4);
}

.overlay[data-overlay="3"].overlay-light::before {
  background: rgba(255, 255, 255, 0.3);
}

.overlay[data-overlay="2"].overlay-light::before {
  background: rgba(255, 255, 255, 0.2);
}

.overlay[data-overlay="1"].overlay-light::before {
  background: rgba(255, 255, 255, 0.1);
}

#site-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #ffffff;
  -webkit-transition: all 0.7s cubic-bezier(0.7, 0.3, 0.1, 1) 0.3s;
  -moz-transition: all 0.7s cubic-bezier(0.7, 0.3, 0.1, 1) 0.3s;
  -ms-transition: all 0.7s cubic-bezier(0.7, 0.3, 0.1, 1) 0.3s;
  -o-transition: all 0.7s cubic-bezier(0.7, 0.3, 0.1, 1) 0.3s;
  transition: all 0.7s cubic-bezier(0.7, 0.3, 0.1, 1) 0.3s;
}

#site-loading .loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #cccccc;
  border-top: 3px solid #bb9d56;
  border-right: 3px solid #bb9d56;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  animation: loading 0.7s linear infinite;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

#site-loading.hide {
  opacity: 0;
  visibility: hidden;
}

#site-loading.hide .loader {
  opacity: 0;
  visibility: hidden;
}

#site-main {
  position: relative;
  padding-top: 30px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#site-main.nav-open {
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
}

#site-main #main-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#site-main #main-overlay.nav-open {
  opacity: 1;
  visibility: visible;
}

@media (max-width:800px) {
  #site-main {
  }
.nav-item.nav-link {
}

}

/** 03. BUTTONS
-------------------------------------------------- **/
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  padding: 0 25px;
  background: 0;
  cursor: pointer;
  background: #bb9d56;
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.btn:hover {
  background: #000000;
}

/** 04. FORMS
-------------------------------------------------- **/
.form-group:not(:last-child) {
  margin-bottom: 15px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 50px;
  font-family: 'Open Sans';
  font-size: inherit;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #cccccc;
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  padding: 15px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  display: block;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

/** 05. HEADER
-------------------------------------------------- **/
#site-header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

#site-header .container {
  height: 100%;
  position: relative;
}

#site-header #header-logo {
  line-height: 100px;
}

#site-header #header-logo a img {
  max-height: 40px;
}

#site-header #burger {
  display: block;
  width: 20px;
  height: 14px;
  position: relative;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
}

#site-header #burger .icon-bar {
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  background: #000000;
}

#site-header #burger .icon-bar.top {
  top: 0;
}

#site-header #burger .icon-bar.middle {
  top: 50%;
  margin-top: -1px;
}

#site-header #burger .icon-bar.bottom {
  bottom: 0;
}

@media (max-width:800px) {
  #site-header {
    height: 100px;
  }

  #site-header #header-logo {
    line-height: 100px;
  }

}

/** 06. NAV
-------------------------------------------------- **/
#site-nav {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -40%;
  margin-right: -17px;
  z-index: 10;
  overflow: auto;
  background: #ffffff;
  padding: 60px;
  overflow-y: scroll;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#site-nav #nav-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

#site-nav #nav-close::before,
#site-nav #nav-close::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#site-nav #nav-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#site-nav #nav-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#site-nav #menu {
  list-style: none;
  text-align: right;
  line-height: 1;
}

#site-nav #menu li {
  display: block;
  position: relative;
}

#site-nav #menu li:not(:last-child) {
  margin-bottom: 50px;
}

#site-nav #menu li a {
  position: relative;
  font-size: 28px;
  color: #000000;
  padding-right: 15px;
}

#site-nav #menu li a.active {
  color: #bb9d56;
}

#site-nav #menu li a.parent::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 50%;
  right: 0;
}

#site-nav #menu li a.parent.active::before {
  border-top-color: #bb9d56;
}

#site-nav #menu li .submenu {
  list-style: none;
  position: relative;
  line-height: 1.6;
  margin-top: 10px;
}

#site-nav #menu li .submenu li {
  margin-bottom: 0;
}

#site-nav #menu li .submenu li a {
  font-family: 'Open Sans';
  font-size: 14px;
  color: inherit;
}

#site-nav #menu li .submenu li a:hover {
  color: #000000;
}

#site-nav #menu li .submenu li a.active {
  color: #bb9d56;
}

#site-nav.nav-open {
  right: 0;
}

@media (max-width:800px) {
  #site-nav {
    width: 90%;
    right: -90%;
  }

}

@media (max-width:600px) {
  #site-nav {
    padding: 50px;
  }

  #site-nav #menu li:not(:last-child) {
    margin-bottom: 25px;
  }

  #site-nav #menu li a {
    font-size: 20px;
  }

}

/** 07. PORTFOLIO
-------------------------------------------------- **/
.gallery[data-cols="4"] .overlay .overlay-content {
  padding: 4vw;
}

.entry .title:not(:last-child) {
  margin-bottom: 10px;
}

.entry .cat {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
}

.entry .social {
  margin-top: 25px;
}

@media (max-width:600px) {
  .entry .overlay {
    display: none;
  }

}

.filters {
  padding-bottom: 25px;
}

.filters .filters-list {
	list-style: none;
	font-variant-caps: all-petite-caps;
}

.filters .filters-list li {
    margin-right: 50px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 500;
}

.filters .filters-list li:not(:last-child) {
  margin-right: 50px;
}

.filters .filters-list li:hover {
  color: #000000;
}

.filters .filters-list li.active {
	color: #333333;
	cursor: default;
}

@media (max-width:600px) {
  .filters .filters-list li {
    display: block;
  }

  .filters .filters-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

}

.project-categories {
  position: relative;
}

.project-categories:not(:last-child) {
  margin-bottom: 15px;
}

.project-categories span {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #b3b3b3;
}

.project-categories span:not(:last-child) {
  margin-right: 15px;
}

.project-categories span a:hover {
  color: #bb9d56;
}

.project-pagination {
  position: relative;
  background: #f5f5f5;
}

.project-pagination span {
  display: block;
  width: 33.33%;
  position: relative;
  top: 0;
}

.project-pagination span.prev {
  position: absolute;
  left: 0;
}

.project-pagination span.back {
  left: 33.33%;
}

.project-pagination span.next {
  position: absolute;
  right: 0;
}

.project-pagination span a {
  display: block;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  padding: 50px;
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-pagination span a:hover {
  background: #ededed;
}

@media (max-width:800px) {
  .project-pagination span {
    width: 100% !important;
    position: relative !important;
    top: auto;
    left: 0 !important;
  }

  .project-pagination span a {
    padding: 25px;
  }

}

/** 08. BLOG
-------------------------------------------------- **/
.post:not(:last-child) {
  margin-bottom: 100px;
}

.post .post__image {
  margin-bottom: 50px;
}

.entry-metas .meta {
  display: block;
}

.entry-metas .meta:not(:last-child) {
  margin-bottom: 25px;
}

.entry-metas .meta .meta-title {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

@media (max-width:600px) {
  .entry-metas .meta:not(:last-child) {
    margin-bottom: 10px;
  }

}

.tags {
  margin-top: 50px;
}

.tags a {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.tags a:not(:last-child) {
  margin-right: 5px;
}

.tags a:hover {
  border-color: #808080;
}

.blog-pagination {
  position: relative;
  background: #f0f0f0;
}

.blog-pagination::after {
  content: '';
  display: block;
  clear: both;
}

.blog-pagination span {
  display: block;
  position: relative;
  width: 50%;
  top: 0;
}

.blog-pagination span.prev {
  float: left;
}

.blog-pagination span.next {
  float: right;
}

.blog-pagination span a {
  display: block;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  padding: 50px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.blog-pagination span a:hover {
  background: #e6e6e6;
}

@media (max-width:800px) {
  .blog-pagination span {
    width: 100%;
    position: relative;
    float: none !important;
  }

  .blog-pagination span a {
    padding: 25px;
  }

}

.comments-list {
  list-style: none;
}

.comments-list .comment:not(:last-child) {
  margin-bottom: 50px;
}

.comments-list .comment .children {
  list-style: none;
  margin: 50px 0 0 50px;
}

.comments-list .comment .comment-user {
  float: left;
  width: 100px;
  position: relative;
}

.comments-list .comment .comment-user img {
  border-radius: 5px;
}

.comments-list .comment .comment-content {
  margin-left: 120px;
}

.comments-list .comment .comment-content .date {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #b3b3b3;
}

.comments-list .comment .comment-content .comment-text {
  margin-top: 15px;
}

@media (max-width:600px) {
  .comments-list .comment .children {
    margin: 50px 0 0 15px;
  }

  .comments-list .comment .comment-user {
    width: 50px;
  }

  .comments-list .comment .comment-content {
    margin-left: 70px;
  }

}

/** 09. SOCIAL
-------------------------------------------------- **/
.social {
  list-style: none;
}

.social li {
  display: inline-block;
  position: relative;
}

.social li:not(:last-child) {
  margin-right: 25px;
}

.social li a {
  font-size: 16px;
}

.social li a:hover {
  color: #bb9d56;
}
