
// BUTTONS
// --------------------


	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.btn {
		display: inline-block;
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
		font-family: @font2;
		font-size: 12px;
		font-weight: 600;
		color: @white_color;
		padding: 0 25px;
		background: 0;
		cursor: pointer;
		background: @primary_color;
		border: none;
		border-radius: 2px;

		.transition();

		&:hover { background: @dark_color; }
	}
