
// HEADER
// --------------------


	#site-header {
		width: 100%;
		height: @header_height;
		position: absolute;
		top: 0;
		left: 0;

		.container {
			height: 100%;
			position: relative;
		}

		// logo
		#header-logo { line-height: @header_height; }
		#header-logo a img { max-height: 40px; }

		// burger
		#burger {
			display: block;
			width: 20px;
			height: 14px;
			position: relative;
			top: 50%;
			margin-top: -7px;
			cursor: pointer;

			.icon-bar {
				width: 100%;
				height: 2px;
				position: absolute;
				right: 0;
				background: @dark_color;

				&.top { top: 0; }
				&.middle { top: 50%; margin-top: -1px; }
				&.bottom { bottom: 0; }
			}
		}

		// responsive
		.responsive(800px, {
			height: @mobile_header_height;

			#header-logo { line-height: @mobile_header_height; }
		});
	}
