
// NAV


#site-nav {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -40%;
	margin-right: -17px;
	z-index: 10;
	overflow: auto;
	background: @white_color;
	padding: 60px;
	overflow-y: scroll;

	.transition();

	// close
	#nav-close {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: relative;

		&::before,
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background: @dark_color;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -1px;

			.transition();
		}

		&::before { .transform(rotate(45deg)); }
		&::after { .transform(rotate(-45deg)); }
	}

	// menu
	#menu {
		list-style: none;
		text-align: right;
		line-height: 1;

		li {
			display: block;
			position: relative;

			&:not(:last-child) { margin-bottom: 50px; }
		}

		li a {
			position: relative;
			font-size: 28px;
			color: @dark_color;
			padding-right: 15px;

			&.active { color: @primary_color; }

			&.parent::before {
				content: '';
				width: 0;
				height: 0;
				border-top: 4px solid @dark_color;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				position: absolute;
				top: 50%;
				right: 0;
			}

			&.parent.active::before { border-top-color: @primary_color; }
		}

		li .submenu {
			list-style: none;
			position: relative;
			line-height: 1.6;
			margin-top: 10px;

			li { margin-bottom: 0; }

			li a {
				font-family: @font2;
				font-size: 14px;
				color: inherit;

				&:hover { color: @dark_color; }
				&.active { color: @primary_color; }
			}
		}
	}

	&.nav-open {
		right: 0;
	}

	// responsive
	.responsive(800px, {
		width: 90%;
		right: -90%;
	});

	.responsive(600px, {
		padding: 50px;

		#menu li {
			&:not(:last-child) {
				margin-bottom: 25px;
			}

			a { font-size: 20px; }
		}
	});
}
