
// SOCIAL
// --------------------


	.social {
		list-style: none;

		li {
			display: inline-block;
			position: relative;

			&:not(:last-child) { margin-right: 25px; }

			a { font-size: 16px; }
			a:hover { color: @primary_color; }
		}
	}
