
// BLOG
// --------------------


	.post {
		&:not(:last-child) { margin-bottom: 100px; }
		.post__image { margin-bottom: 50px; }
	}


	// metas
	// --------------------

	.entry-metas .meta {
		display: block;

		&:not(:last-child) { margin-bottom: 25px; }

		.meta-title {
			font-family: @font2;
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 5px;
		}

		// responsive
		.responsive(600px, {
			&:not(:last-child) { margin-bottom: 10px; }
		});
	}


	// tags
	// --------------------

	.tags {
		margin-top: 50px;

		a {
			display: inline-block;
			font-family: @font1;
			font-size: 14px;
			padding: 5px 15px;
			border: 1px solid darken(@white_color, 20%);
			border-radius: 1px;

			&:not(:last-child) { margin-right: 5px; }

			.transition();

			&:hover { border-color: darken(@white_color, 50%); }
		}
	}


	// pagination
	// --------------------

	.blog-pagination {
		position: relative;
		background: darken(@white_color, 6%);

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		span {
			display: block;
			position: relative;
			width: 50%;
			top: 0;

			&.prev { float: left; }
			&.next { float: right; }

			a {
				display: block;
				text-align: center;
				font-family: @font2;
				font-size: 15px;
				font-weight: 600;
				color: @dark_color;
				padding: 50px;

				.transition();

				&:hover { background: darken(@white_color, 10%); }
			}
		}


		// responsive
		.responsive(800px, {
			span {
				width: 100%;
				position: relative;
				float: none !important;

				a { padding: 25px; }
			}
		});
	}


	// comments
	// --------------------

	.comments-list {
		list-style: none;

		.comment {
			&:not(:last-child) { margin-bottom: 50px; }

			.children {
				list-style: none;
				margin: 50px 0 0 50px;
			}

			.comment-user {
				float: left;
				width: 100px;
				position: relative;

				img { border-radius: 5px; }
			}

			.comment-content {
				margin-left: 120px;

				.date {
					font-family: @font2;
					font-size: 14px;
					color: darken(@white_color, 30%);
				}

				.comment-text { margin-top: 15px; }
			}
		}

		// responsive
		.responsive(600px, {
			.comment {
				.children { margin: 50px 0 0 15px; }
				.comment-user { width: 50px; }
				.comment-content { margin-left: 70px; }
			}
		});
	}
