
// COMMONS
// --------------------


	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		outline: 0;
		border: 0;
		vertical-align: baseline;

		box-sizing: border-box;
	}

	body {
		font-family: @font1;
		font-size: 18px;
		color: darken(@white_color, 60%);
		line-height: 1.8;
		overflow-y: scroll;
		overflow-x: hidden;
		background: @white_color;

		// responsive
		.responsive(800px, {
			font-size: 16px;
		});
	}

	::selection {
		color: @white_color;
		background: @dark_color;
	}


	// typography
	// --------------------

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		font-style: normal;
		color: @dark_color;

		&:not(:last-child) { margin-bottom: 25px; }
	}

	h1 { font-size: 50px; line-height: 60px; }
	h2 { font-size: 42px; line-height: 52px; }
	h3 { font-size: 36px; line-height: 46px; }
	h4 { font-size: 30px; line-height: 40px; }
	h5 { font-size: 24px; line-height: 34px; }

	// responsive
	.responsive(600px, {
		h1 { font-size: 42px; line-height: 52px; }
		h2 { font-size: 36px; line-height: 46px; }
		h3 { font-size: 28px; line-height: 38px; }
		h4 { font-size: 24px; line-height: 34px; }
		h5 { font-size: 20px; line-height: 30px; }
	});

	h6 {
		text-transform: uppercase;
		font-family: @font2;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 1px;
	}

	p {
		&:not(:last-child) { margin-bottom: 25px; }

		&.lead {
			font-size: 20px;
			color: @dark_color;
		}

		// responsive
		.responsive(800px, {
			font-size: inherit;
		});
	}


	// links
	// --------------------

	a {
		text-decoration: none;
		color: inherit;
		cursor: pointer;

		&.link { color: @primary_color; }
		&.link:hover { color: @dark_color; }

		&.underline { border-bottom: 1px solid @primary_color; }
	}


	// embedded content
	// --------------------

	img,
	video {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}

	// blockquotes
	// --------------------

	blockquote {
		font-size: 20px;
		color: darken(@white_color, 30%);
		padding: 25px;
		border-left: 5px solid @primary_color;

		&:not(:last-child) { margin-bottom: 25px; }
	}


	// helpers
	// --------------------

	.float {
		&-left { float: left; }
		&-right { float: right; }
	}

	.text {
		&-left { text-align: left; }
		&-center { text-align: center; }
		&-right { text-align: right; }

		&-color { color: @primary_color; }
		&-mute { color: darken(@white_color, 30%); }
	 }

	 .bg {
		&-grey { background: darken(@white_color, 4%); }
		&-color { background: @primary_color; }
	}

	.light-content {
		color: @white_color;

		h1, h2, h3, h4, h5, h6,
		a { color: @white_color; }

		.text-color { color: @primary_color; }
	}


	 // Misc
	// --------------------

	.section {
		padding: 100px 0;

		&.pt {
			&-0 { padding-top: 0; }
			&-100 { padding-top: 100px; }
			&-150 { padding-top: 150px; }
			&-200 { padding-top: 200px; }
		}

		&.pb {
			&-0 { padding-bottom: 0; }
			&-100 { padding-bottom: 100px; }
			&-150 { padding-bottom: 150px; }
			&-200 { padding-bottom: 200px; }
		}

		// responsive
		.responsive(600px, {
			padding: 75px 0;

			&.pt {
				&-100 { padding-top: 50px; }
				&-150 { padding-top: 100px; }
				&-200 { padding-top: 150px; }
			}

			&.pb {
				&-100 { padding-bottom: 50px; }
				&-150 { padding-bottom: 100px; }
				&-200 { padding-bottom: 150px; }
			}
		});
	}

	div[class*="gap-"] { display: block; }
	.gap-25 { height: 25px; }
	.gap-50 { height: 50px; }
	.gap-100 { height: 100px; }
	.gap-150 { height: 150px; }

	// responsive
	.responsive(600px, {
		.gap-50 { height: 25px; }
		.gap-100 { height: 75px; }
		.gap-150 { height: 100px; }
	});


	// overlays
	// --------------------

	.overlay {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;

			.transition();
		}

		.overlay-content {
			width: 100%;
			display: table-cell;
			position: relative;
			padding: 5vw;

			.transition();
		}

		&[data-pos="top"] .overlay-content { vertical-align: top; }
		&[data-pos="center"] .overlay-content { vertical-align: middle; }
		&[data-pos="bottom"] .overlay-content { vertical-align: bottom; }

		&.hidden {
			.overlay-content {
				opacity: 0;
			}

			&::before {
				opacity: 0;
				visibility: hidden;
			}

			&[data-pos="top"] .overlay-content { top: -25px; }
			&[data-pos="center"] .overlay-content,
			&[data-pos="bottom"] .overlay-content { bottom: -25px; }

			&:hover {
				.overlay-content {
					opacity: 1;
				}

				&::before {
					opacity: 1;
					visibility: visible;
				}

				&[data-pos="top"] .overlay-content { top: 0; }
				&[data-pos="center"] .overlay-content,
				&[data-pos="bottom"] .overlay-content { bottom: 0; }
			}
		}

		* { z-index: 2; }

		&[data-overlay="10"]::before { background: @dark_color; }
		&[data-overlay="9"]::before { background: fade(@dark_color, 90%); }
		&[data-overlay="8"]::before { background: fade(@dark_color, 80%); }
		&[data-overlay="7"]::before { background: fade(@dark_color, 70%); }
		&[data-overlay="6"]::before { background: fade(@dark_color, 60%); }
		&[data-overlay="5"]::before { background: fade(@dark_color, 50%); }
		&[data-overlay="4"]::before { background: fade(@dark_color, 40%); }
		&[data-overlay="3"]::before { background: fade(@dark_color, 30%); }
		&[data-overlay="2"]::before { background: fade(@dark_color, 20%); }
		&[data-overlay="1"]::before { background: fade(@dark_color, 10%); }

		&[data-overlay="10"].overlay-light::before { background: @white_color; }
		&[data-overlay="9"].overlay-light::before { background: fade(@white_color, 90%); }
		&[data-overlay="8"].overlay-light::before { background: fade(@white_color, 80%); }
		&[data-overlay="7"].overlay-light::before { background: fade(@white_color, 70%); }
		&[data-overlay="6"].overlay-light::before { background: fade(@white_color, 60%); }
		&[data-overlay="5"].overlay-light::before { background: fade(@white_color, 50%); }
		&[data-overlay="4"].overlay-light::before { background: fade(@white_color, 40%); }
		&[data-overlay="3"].overlay-light::before { background: fade(@white_color, 30%); }
		&[data-overlay="2"].overlay-light::before { background: fade(@white_color, 20%); }
		&[data-overlay="1"].overlay-light::before { background: fade(@white_color, 10%); }
	}


	// loading
	// --------------------

	#site-loading {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background: @white_color;

		.transition(all, 0.7s, cubic-bezier(0.7, 0.3, 0.1, 1), 0.3s);

		.loader {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 3px solid darken(@white_color, 20%);
			border-top: 3px solid @primary_color;
			border-right: 3px solid @primary_color;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -15px 0 0 -15px;

			animation: loading 0.7s linear infinite;

			.transition();
		}

		@keyframes loading {
			100% { .transform(rotate(360deg)); }
		}

		&.hide {
			opacity: 0;
			visibility: hidden;

			.loader {
				opacity: 0;
				visibility: hidden;
			}
		}
	}


	// main
	// --------------------

	#site-main {
		position: relative;
		padding-top: @header_height;
		background: @white_color;

		.transition();

		&.nav-open { .transform(translateX(-100px)); }

		// overlay
		#main-overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 9;
			background: fade(@dark_color, 70%);
			opacity: 0;
			visibility: hidden;
			cursor: pointer;

			.transition();

			&.nav-open {
				opacity: 1;
				visibility: visible;
			}
		}

		// responsive
		.responsive(800px, {
			padding-top: @mobile_header_height;
		});
	}
