
// FORMS
// --------------------


	.form-group {
		&:not(:last-child) { margin-bottom: 15px; }
	}

	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	textarea,
	select {
		width: 100%;
		height: 50px;
		font-family: @font2;
		font-size: inherit;
		padding: 0 15px;
		border: 1px solid darken(@white_color, 10%);
		background: @white_color;

		.transition();

		&:focus { border: 1px solid darken(@white_color, 20%); }
	}

	textarea {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 120px;
		padding: 15px;
	}

	input[type="search"] {
		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration { -webkit-appearance: none; }
	}

	label {
		display: block;
		text-transform: uppercase;
		font-family: @font2;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 5px;
	}
