
// MIXINS
// ====================


.transition(@property: all, @duration: 0.3s, @timing-function: ease-in-out, @delay: 0s) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

.responsive(@media, @rules) {
	@media (max-width: @media) {
		@rules();
	}
}
