
// PORTFOLIO
// --------------------


	.gallery[data-cols="4"] {
		.overlay .overlay-content { padding: 4vw; }
	}

	.entry {
		.title { &:not(:last-child) { margin-bottom: 10px; } }

		.cat {
			font-family: @font2;
			font-size: 15px;
			font-weight: 600;
		}

		.social { margin-top: 25px; }

		// responsive
		.responsive(600px, {
			.overlay { display: none; }
		});
	}


	// filters
	// --------------------

	.filters {
		padding-bottom: 25px;

		.filters-list {
			list-style: none;

			li {
				display: inline-block;
				position: relative;
				cursor: pointer;
				font-family: @font2;
				font-size: 15px;
				font-weight: 600;
				color: darken(@white_color, 30%);

				&:not(:last-child) { margin-right: 50px; }

				&:hover { color: @dark_color; }

				&.active {
					color: @primary_color;
					cursor: default;
				}
			}
		}

		// responsive
		.responsive(600px, {
			.filters-list {
				li {
					display: block;

					&:not(:last-child) { margin-right: 0; margin-bottom: 5px; }
				}
			}
		});
	}


	// projects
	// --------------------

	.project-categories {
		position: relative;

		&:not(:last-child) { margin-bottom: 15px; }

		span {
			font-family: @font2;
			font-size: 14px;
			color: darken(@white_color, 30%);

			&:not(:last-child) { margin-right: 15px; }
			a:hover { color: @primary_color; }
		}
	}


	// pagination
	// --------------------

	.project-pagination {
		position: relative;
		background: darken(@white_color, 4%);

		span {
			display: block;
			width: 33.33%;
			position: relative;
			top: 0;

			&.prev { position: absolute; left: 0; }
			&.back { left: 33.33%; }
			&.next { position: absolute; right: 0; }

			a {
				display: block;
				text-align: center;
				font-family: @font2;
				font-size: 15px;
				font-weight: 600;
				padding: 50px;
				color: @dark_color;

				.transition();

				&:hover { background: darken(@white_color, 7%); }
			}
		}

		// responsive
		.responsive(800px, {
			span {
				width: 100% !important;
				position: relative !important;
				top: auto;
				left: 0 !important;

				a { padding: 25px; }
			}
		});
	}
