
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Portfolio template for freelancers and agencies">
	<meta name="author" content="layerz">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Kirschaus</title>
	<link rel="icon" href="static/img/k-bordered.png">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/main.css">
	<link href="static/css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
	
<div id="site-main">
  <div class="section">
    <div class="container">
      <nav class="navbar navbar-collapse navbar-main"><a href="index.html" class="navbar-brand"><img src="static/img/k.png" alt="Logo" style="height:40px"> </a><i class="material-icons" data-toggle="collapse" data-target="#globalCrumb" aria-expanded="false" aria-label="Toggle navigation">near_me</i> </nav>
    </div>
  </div>
  
  <!-- headline -->
		
  <div class="section pt-50 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="flex-row"> </div>
          
          <div class="flex-row">
            <h2>EXTENSIONAL</h2>
          </div>
</div>
        <div class="col-lg-4">
          <div class="list-group"> 
              {% for node in nodes %}{% if node.clientMac %}<a href="#" class="list-group-item active">
            <h6 class="mb-1">{{ node.clientMac }}</h6>
              {% else %}<h6 class="mb-1">none</h6>
            </a>{% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
          <div class="container-fluid"> <!-- Content Panel -->
            <div id="clothingnavcontent1" class="tab-content">
              <div role="tabpanel" class="tab-pane fade show active" id="home1" aria-labelledby="hometab1">
               
                <p>Content in <strong>Tab Panel 1</strong></p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="paneTwo1" aria-labelledby="hatstab1">
                <p>Content 2</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabDropDownOne1" aria-labelledby="dropdownshoestab1">
                <p>Dropdown content#1</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabDropDownTwo1" aria-labelledby="dropdownbootstab1">
                <p>Dropdown content#2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

      <div class="container mb-0">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a class="nav-link active" href="#">Pill 1</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Pill 2</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Pill 3</a></li>
          <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled Pill</a></li>
        </ul>
     
      </div>
   
  <div class="section bg-grey">
<div class="container">
      <div class="row"> </div>
      <div class="row">
        <div class="col-lg-12"><div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"  src="http://kirschlair.kirschaus.com/stream/video.h264" height="100%" width="2000px"></iframe>
																														
                </div></div>
      </div>
            <div class="row">
              <div class="col-lg-4">
                <label for="textfield">Text Field:</label>
                <input type="text" name="textfield" id="textfield">
              </div>
              <div class="col-lg-4">&nbsp;</div>
              <div class="col-lg-4"></div>
</div>
    </div>
  </div>
<!-- footer -->
		<footer class="section bg-grey">
			<div class="container">
				<div class="row">
					<div class="column col-4">
						<h6>Copyrights</h6>
						<p>Copyright &copy; 2017 layerz.<br>
						Crafted by layerz for <a href="http://themeforest.net/" class="link">themeforest.</a></p>

						<ul class="social">
							<li><a href="#" class="social-link"><i class="fa fa-behance"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	
    <!-- <script src="static/js/jquery-3.1.0.min.js"></script> -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
	<script src="static/js/scripts.js"></script>
<script src="js/popper.min.js"></script>
	<script src="js/bootstrap-4.0.0.js"></script>

</div></body>
</html>
